*{

    margin: 0;
    box-sizing: border-box;
    font-family: 'Sora', sans-serif;
    font-weight: 600;
    line-height: 125%;
    letter-spacing: -1px;
}

a{
    text-decoration: none;
    color: black;
}

.container{
    display: flex;
    width: 100%;
    max-width: 1246px;
    margin: 0px auto;
    padding: 0px 15px;
}

header{
    display: flex;
    height: 100px;
    background-color: var(--grey-colors-800);
        
    
}

#navbar{
    
    display: flex;
    align-items: center;
    justify-content: space-between; 
    
    
    
}



.itens{
    display: flex;
    list-style: none;
    gap:    4vh;
    
    

}

header nav ul li{
    background-color: var(--grey-colors-50);
    padding: 1.2rem 2.4rem;
    font-weight: 100;
}

header nav ul li:last-child{

    background-color: var( --brand-colors-pink);
    font-weight: bold;

}

.sessao{
    display: flex;
    height: 70vh;
    align-items: center;
    

}

#front {
    
    height: 70%;
    align-items: center;
    justify-content: space-between;
}

.principal{

    display: flex;
    flex-direction: row;
    max-width: 100%;
    

}

#text{

    max-width: 60vh;
    
}

section h1{
    font-size: 54px;
    padding-bottom:25px;
}

section p {
    font-size: 20px;
    max-width: 45vh;
    font-weight: 100;
    padding-bottom: 50px;
}

section a {
    background-color:  var( --brand-colors-pink);
    padding: 1.2rem 2.4rem;
    font-size: 20px;
}

.imagem_principal{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    max-width: 500px;
    height: 100%;
    background-color:var(--grey-colors-800);
}

#sessao2{
    color: white;
    background-color: black;
}