*{
    border: none;
    outline: none;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Sora', sans-serif;
    font-weight: 600;
    line-height: 125%;
    list-style: none;
    letter-spacing: -1px;
}

p{
    font-size: 16px;
    color: var(--white-colors-text);
    font-weight: 100;
}

a{
    font-size: 15px;
    text-decoration: none;
    color: black;
}

#allcards{

    width: 100%;
}
#a{
    transition: 0.2 ease-in-out;
}



.container{
    display: flex;
    width: 100%;
    max-width: 1246px;
    margin: 0 auto;
    padding: 0 15px;
    
}

header{
    display: flex;
    height: 85px;
    background-color: var(--grey-colors-800);
    width: 100%;
    position: fixed;
    z-index: 1000;
    
}

#navbar{
    
    display: flex;
    align-items: center;
    justify-content: space-between; 
    
    
    
}

#logo{
    height: 40px;
}

.itens{
    display: flex;
    gap:    4vh;
    padding: 0px 0px ;
    
    

}

header nav ul li a{
    transition: 0.2s ease-in-out;
    background-color: var(--grey-colors-50);
    padding: 12px 24px;
    font-weight: 100;
}
header nav ul li{
    transition: 0.2s ease-in-out;
}


#call{
    padding: 12px 34px;
    background-color: var( --brand-colors-pink);
    font-weight: bold;

}


.sessao{
    display: flex;
    height: 70vh;
    align-items: center;
    

}
#sessao1{
    height:  calc(70vh + 85px);
    padding-top: 85px;
}




#front{
    
    height: 70%;
    align-items: center;
    justify-content: space-between;
}

.principal{

    display: flex;
    flex-direction: row;
    max-width: 100%;
    

}



#text{

    max-width: 100vh;
    
}

#text p {
    color: var(--grey-colors-300)
}

#text h1{
    max-width: 95%;
    font-size: 50px;
    padding-bottom:25px;
}

section p{
    
    max-width: 45vh;
    font-weight: 100;
    padding-bottom: 50px;

}

section a {
    background-color:  var( --brand-colors-pink);
    padding: 1.2rem 2.4rem;
    font-size: 16px;
    border-color: white;
}

.imagem_principal{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    max-width: 500px;
    height: 100%;
    background-color:var(--grey-colors-800);
}


#sessao2{
    align-items: baseline;
    color: white;
    background-color: var(  --grey-colors-100);
    height: 100%;
    
}

.titulo{
    text-align: center;
    padding-top: 7rem;
    align-items: center;
    width: 100%;
    flex-direction: column;
    font-size: 27px;
    height: 100%;
    padding-bottom: 8rem;
    
}

#boxes{
    padding: 0px 0px 7rem 0px;
    justify-content: space-between;
    gap: 10px;
    border-bottom: var(--grey-colors-300) 1px solid;
}


.box{
    display: flex;
    align-items: center;
    width: 100%;
    height: 40vh;
    background-color: var(--grey-colors-200) ;
}

#box2{
    background-color: white;
    color: black;
}


#conteudobox2 p{
    color: var(--grey-colors-300);
}

.conteudobox h3{

    padding: 50px 0px 25px 0px;
}

.conteudobox p{
    padding: 0px 20px;
    
    
}

#titulocards{
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: baseline;
    justify-content: space-between;
    text-align: justify;
    padding: 7rem 0px 0px 0px;
    

}



#cards{
    
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    
    

}
#cards img{

    background-color: var(--grey-colors-200);
    padding: 40px 60px;
    
    
}

#sessao3 {
    height: 50vh;
    background-color: var(--grey-colors-200);
    color: white;
    
}

#sessao3 .titulo {
   align-items: center;
   padding: 0;
}

#sessao3 .titulo p{
    max-width: none;
    padding-top: 20px;
    max-width: 40%;
    
}

#centralizar{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    justify-content: center;
}

footer{
    max-height: 50vh;
    background-color: black;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

#outros{
    
    justify-content: space-between;
    
}

#logofooter{
    max-width: 30vh;
    margin-right: 50px;
    text-align: justify;
}

#logofooter img{
    padding-bottom: 3vh;


}

footer a{
    color: white;
    font-weight: 100;

}
footer ul{
    padding-left: 0;
}

footer div ul h3{
    padding-bottom: 3vh;
    
}
footer div ul li{
    
    padding-bottom: 3vh;

}

footer div ul li a{
    display: flex;
    align-items: center;
    gap: 10px;
    color: var(--white-colors-text)

}
footer div ul li:last-child{
    padding: 0;

}



#copy{
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
    padding-top: 2rem;
    border-top: var(--grey-colors-300) 1px solid;    

   
    
}
#boost{
    display: flex;
}
#boost p{
    padding-right: 10px;
}



.colorchange:hover{
    background-color: var(--grey-colors-400);
    color: var(--white-colors-text);
    transition: 0.3s ease-in-out;
}

.colorchangefooter:hover{
    
    color: white;
    transition: 0.3s ease-in-out;
}

.crescer:hover{
    transition: 0.3s ease-in-out;
    transform: scale(1.1);
    
    
}

.crescer{
    transition: 0.2s ease-in-out;
    
}

